

*{
box-sizing: border-box
padding:0;
margin: 0;  
}

/* Styles for the navigation bar */
.navbar {
  background-color: darkblue;
  display:flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
 
}

.nav-list{
  list-style-type: none;
}

.nav-list .list-tem{
 display: inline-block; 
 padding: 20px 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

/* Styles for the active navigation link */
.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Styles for the hover effect on navigation links */
.navbar a:hover {
  color: #32ec94;
  cursor: pointer;
}

.menu {
display:none;
}

.menu-line {
  width: 20px;
  height: 3px;
  background-color: white;
  margin-bottom: 4px;
}

.active {
display: block;
}

@media all and (max-width: 480px){
    .navbar{
      flex-direction: column;
    }
  
  .menu {
    display: block;
    position: absolute;
    right: 15px
    top: 15px;
  }
  
  .nav-list {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding top: 10px;
    display: none;
    }
    
    .nav-list. list-tem {
      display: inline-block;
      border-top: 1px solid #671ed0;
    }
    
    .primary-icon {
      margin-top:10px;
      margin-left: 10px;
    }
  
}

